name: Deploy Function

on:
  workflow_dispatch:
    inputs:
      name:
        description: "Manual deployment name"
        required: true

  push:
    branches:
      - main

jobs:
  deploy-webhook-endpoint:
    name: Deploy WebhookEndpoint Function
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - id: "auth"
        uses: google-github-actions/auth@v0
        with:
          credentials_json: "${{ secrets.gcp_credentials }}"

      - id: "deploy"
        uses: google-github-actions/deploy-cloud-functions@main
        with:
        source_dir: "serverless-function"
          name: WebhookEndpoint
          runtime: go116
          env_vars: "${{ secrets.webhook_endpoint_env_vars }}"

      - id: "output"
        run: 'curl "${{ steps.deploy.outputs.url }}"'

